@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #171717;
  color: #e5e7eb;
  width: 100%;
  max-width: 77vw;
  margin: auto;
  height: 100%;
  min-height: 100vw;
  scroll-behavior: smooth;
  padding: 0;
  font-size: 18px;
}
