@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #171717;
  background: linear-gradient(
    32deg,
    rgba(23, 23, 23, 1) 20%,
    rgba(23, 23, 23, 1) 60%,
    rgba(30, 64, 175, 1) 80%,
    rgba(23, 23, 23, 1) 99%
  );

  color: #e5e7eb;
  width: 100%;
  max-width: 77vw;
  margin: auto;
  height: 100%;
  /* min-height: 100vw; */
  scroll-behavior: smooth;
  padding: 0;
  font-size: 18px;
  overflow-x: hidden;
}
